# Archivos generados por UE
Binaries/
Intermediate/
Saved/
DerivedDataCache/

# Archivos de usuario
*.suo
*.sln
*.opensdf
*.sdf
*.user
*.userosscache
*.backup

# Archivos de compilación
*.obj
*.pdb
*.ilk
*.dll
*.lib
*.exp
*.log

# Archivos específicos de UE
Build/
*.umap
*.uasset
*.uexp
*.ubulk
*.uptnl
